<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Doctor's Appointment Request Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
  <link rel="stylesheet" href="styles/style.css">
</head>
<!--  nav bar  -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="active"><a href="https://github.com/Jacob-Vance/dev-mary-project.git" target='_blank'>GitHub REPO</a></li>
    </ul>
  </div>
</nav>
<!-- Content -->
<div class='content'>
  <div class='container'>
    <div id="titleBar" class="col-md-8 offset-md-2 text-center rounded">
      <h1>Doctor's Appointment Request Form</h1>
      <br>
      <h3>Please fill in all the field to request an appointment</h3>
      <br>
    </div>
  </div>
  <div class='container'>
    <div class='row'>
      <div class='col-sm'>
        <!--   second column   -->
      
        
         
      <!--    second column    -->
      <div class='col-4'>
        <form method="POST" action="/delete/<%= pData[0]._id%>">
        </form>

        <form method="POST" action="/insert">
          <label for='fname'>First Name:</label>
          <input type="text" id= 'fname' name='fname'>
          <br>
          <br>
          <label for='lname'>Last Name:</label>
          <input type="text" id="lname" name="lname">
          <br>
          <br>
          <label for='email'>Email Address:</label>
          <input type='text' id='email' name='email'>
          <br>
          <br>
          <label for='street'>Patient's Street Address:</label>
          <input type='text' id='street' name='street'>
          <br>
          <br>
          <label for='city'>Patient's City:</label>
          <input type='text' id='city' name='city'>
          <br>
          <br>
          <label for="state" >Patient's State</label>
          <select type="select" id="state" name="state">
            <option value="" disabled selected>Select your State</option>
            <option value="Alabama">AL</option>
            <option value="Alaska">AK</option>
            <option value="Arizona">AZ</option>
            <option value="Arkansas">AR</option>
            <option value="California">CA</option>
            <option value="Colorado">CO</option>
            <option value="Connecticut">CT</option>
            <option value="Delaware">DE</option>
            <option value="Florida">FL</option>
            <option value="Georgia">GA</option>
            <option value="Hawaii">HI</option>
            <option value="Idaho">ID</option>
            <option value="Illinois">IL</option>
            <option value="Indiana">IN</option>
            <option value="Iowa">IA</option>
            <option value="Kansas">KS</option>
            <option value="Kentucky">KY</option>
            <option value="Louisiana">LA</option>
            <option value="Maine">ME</option>
            <option value="Maryland">MD</option>
            <option value="Massachusetts">MA</option>
            <option value="Michigan">MI</option>
            <option value="Minnesota">MN</option>
            <option value="Mississippi">MS</option>
            <option value="Missouri">MO</option>
            <option value="Montana">MT</option>
            <option value="Nebraska">NE</option>
            <option value="Nevada">NV</option>
            <option value="New Hampshire">NH</option>
            <option value="New Jersey">NJ</option>
            <option value="New Mexico">NM</option>
            <option value="New York">NY</option>
            <option value="North Carolina">NC</option>
            <option value="North Dakota">ND</option>
            <option value="Ohio">OH</option>
            <option value="Oklahoma">OK</option>
            <option value="Oregon">OR</option>
            <option value="Pennsylvania">PA</option>
            <option value="Rhode Island">RI</option>
            <option value="South Carolina">SC</option>
            <option value="South Dakota">SD</option>
            <option value="Tennessee">TN</option>
            <option value="Texas">TX</option>
            <option value="Utah">UT</option>
            <option value="Vermont">VT</option>
            <option value="Virginia">VA</option>
            <option value="Washington">WA</option>
            <option value="West Virginia">WV</option>
            <option value="Wisconsin">WI</option>
            <option value="Wyoming">WY</option>
          </select>
          <br>
          <br>
          <label for='zip'>Patient's Zip Code/Postal Code:</label>
          <input type='text' id='zip' name='zip'>
          <br>
          <br>
          <label for='physican'>Preferred Physican (if known):</label>
          <input type='text' id='physican' name='physican'>
          <br>
          <br>
          <label for='insurance'>Patient's Insurance Carrier:</label>
          <input type='text' id='insurance' name='insurance'>
          <br>
          <br>
          <label for='phone'>Phone:</label>
          <input type='text' id='phone' name='phone'>
          <br>
          <br>
          <button type="submit" class="btn btn-success">Submit</button>
        </fprm>
        </form>
        </form>
        <!--    buttons    -->
          <br>
          <br>
          <input type="reset" class="btn btn-primary" value="Reset">
          <br>
          <br>
          <button id="loadBtn" type="button" class="btn btn-warning">Load Data</button>
          <br>
          <br>
         
          <br>
      </div> -->
      <!--     third column     -->
      <div class='col-sm'>
          <p id='pg1'>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <!-- <h4>past patient registration</h4>

  <% pData.forEach((value, index)=> { %> 

   <p>index = <%=index%>, value = <%=value%> </p>
    , _id = <%= pData[index]._id %> 

     
<%

 })  %> -->
  
 <% pData.forEach((value)=> { %>

  <form method="POST" action="/update/<%= value._id%>">>
    First Name:<input name="fname" value="<%= value.fname %>">
    Last Name:<input name="lname" value="<%= value.lname %>">
    Email:<input name="email" value="<%= value.email %>">
    Street:<input name="street" value="<%= value.street %>">
    City:<input name="city" value="<%= value.city %>">
    State:<input name="state" value="<%= value.state %>">
    Zip:<input name="zip" value="<%= value.zip %>">
    Physican:<input name="physican" value="<%= value.physican %>">
    Insurance:<input name="insurance" value="<%= value.insurance %>">
    Phone:<input name="phone" value="<%= value.phone %>">
    <button id="updateBtn" type="submit" class="btn btn-info">Update</button>
    </form>
    <form method="POST" action="/delete/<%= value._id%>">
    
    <button id="deleteBtn" type="submit" class="btn btn-danger">Delete</button>
</form>

    <% }) %>

 
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/js/bootstrap.min.js"></script>
<script src="scripts/script.js"></script>


<script >function loadData() {
  document.getElementById('fname').value = '<%= pData[0].fname %>'
  document.getElementById('lname').value = '<%= pData[0].lname %>'
  document.getElementById('email').value = '<%= pData[0].email %>'
  document.getElementById('street').value = '<%= pData[0].street %>'
  document.getElementById('city').value = '<%= pData[0].city %>'
  document.getElementById('state').value = '<%= pData[0].state %>'
  document.getElementById('zip').value = '<%= pData[0].zip %>'
  document.getElementById('physican').value = '<%= pData[0].physican %>'
  document.getElementById('insurance').value = '<%= pData[0].insurance %>'
  document.getElementById('phone').value = '<%= pData[0].phone %>'
 
};</script>
</html>
